/* Scoped to the editor */
.ProseMirror ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 1rem;
  line-height: 20px;
}

.ProseMirror li:not(:last-child) {
  margin-bottom: 2px;
}

.ProseMirror p {
  line-height: 20px;
  margin: 0;
}
